<!DOCTYPE html>
<html>

<head>
    <title>Esha Srivastav</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- BOOTSTRAPH AND GOOGLE FONTS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- FONTS -->
    <link href="https://fonts.googleapis.com/css2?family=PT+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen&family=Raleway&family=Satisfy&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="../static/style.css" />
</head>

<!-- NAVBAR -->
<section id="nav_menu">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
                <span class="navbar-toggler-icon"></span>
                <p>Home</p>
            </button>
            <div class="collapse navbar-collapse" id="navbarContent">
                <ul class="navbar-nav ml-auto mr-auto nav-fill w-100">
                    <li class="nav-item">
                        <a class="nav-link" href="#About">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#skills">Skills</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#RecentProjects">Recent Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Timeline">Timeline</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact Me</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</section>

<!-- NAME -->
<div class="bg jumbotron text-center" id="1">
    <img id="imge" src="../static/esha.png" style="margin-top: 7%">
    <h1 id="name1">Esha Srivastav</h1>
    <p id="font1">Student | Computer Science and Engineering</p>
</div>

<!-- ABOUT ME -->
<div class="container-fluid alt1 text-center" id="About" style="background: url('https://res.cloudinary.com/practicaldev/image/fetch/s--BuPz-p40--/c_imagga_scale,f_auto,fl_progressive,h_420,q_auto,w_1000/https://dev-to-uploads.s3.amazonaws.com/uploads/articles/nphrgz8yfnjylrwfr0yl.png');">
    <h1 style="margin-bottom: 3%;">About me</h1>
    <div id="container about">
        <p style="color: white;margin-bottom: 7%;">I am a confident and hardworking person. My motive is to achieve maximum results by utilizing the best of my capabilities. An astute learner with a flair for adopting emerging trends and addressing industry requirements to ensure achievement of
            organizational objectives within the deadlines.
        </p>
    </div>
</div>

<!-- SKILLS -->
<div class="container-fluid" id="skills" style="background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/y-so-serious-white.png');">
    <div class="container text-center alt2" id="3" style="background-color:whitesmoke;">
        <h1 style="margin-bottom: 3%;">Skills</h1>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/c-programming.png" />
            <p>C</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/c-plus-plus-logo.png" />
            <p>C++</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/html-5.png" />
            <p>HTML5</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/css3.png" />
            <p>CSS3</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/bootstrap.png" />
            <p>Bootstrap</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/javascript.png" />
            <p>Javascript</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/git.png" />
            <p>Git</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/officel/80/000000/php-logo.png" />
            <p>PHP</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/mysql-logo.png" />
            <p>MySQL</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/nodejs.png" />
            <p>NodeJs</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/mongodb.png" />
            <p>MongoDB</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/python.png" />
            <p>Python</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/flask.png" />
            <p>Flask</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/postgreesql.png" />
            <p>PostgreSQL</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/flutter.png" />
            <p>Flutter</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/dart.png" />
            <p>Dart</p>
        </div>
        <div id="icon"><img src="https://img.icons8.com/color/80/000000/heroku.png" />
            <p>Heroku</p>
        </div>
    </div>
</div>
</div>

<!-- RECENT PROJECTS -->
<div class="container-fluid alt1" id="RecentProjects">
    <h1>Recent Projects</h1>
    <div class="exp row">
        <div class="col-sm-4">
            <a href="https://github.com/Corona-Vaccine-Management-System/Corona-Management" target="_blank" style="color: #333;">
                <div style="position: relative;">
                    <i class="fa fa-link" style="float: left;margin-right: 2%;"></i>
                    <h3><b>Vaccine Management System</b></h3>
                </div>
            </a>
        </div>
        <div class="col-sm-8">
            <p> Creating a Vaccine Management System, allowing users to register themselves as patients and choose a hospital closest to their address registered, allows hospitals to register themselves and maintain and view patient records. <br> Implementing
                Rest API from NodeJs and Express to handle user re- quests in MySql database.</p>
        </div>
    </div>
    <div class="exp row">
        <div class="col-sm-4">
            <a href="https://github.com/RohitYelnare/amoc" target="_blank" style="color: #333;">
                <div style="position: relative;">
                    <i class="fa fa-link" style="float: left;margin-right: 2%;"></i>
                    <h3><b>Shares and Cryptocurrency Portfolio Flutter App</b></h3>
                </div>
            </a>
        </div>
        <div class="col-sm-8">
            <p> Flutter app to assist user manage their investment portfolio. The app will show the real-time gains/losses the user’s shares and cryptocur- rency makes, show latest news and real-time quotes as well as keep watch on multiple stocks at the
                same time. <br> API used to fetch the real time data.</p>
        </div>
    </div>
    <div class="exp row">
        <div class="col-sm-4">
            <a href="https://github.com/esha123802/inayat_weddings" target="_blank" style="color: #333;">
                <div style="position: relative;">
                    <i class="fa fa-link" style="float: left;margin-right: 2%;"></i>
                    <h3><b>Wedding Planners Website</b></h3>
                </div>
            </a>
        </div>
        <div class="col-sm-8">
            <p>Designed and developed front end UI for Wedding planners which in- cluded forms in backend.</p>
        </div>
    </div>
</div>

<!-- TIMELINE -->
<div class="container alt2" id="Timeline">
    <h1 style="margin-bottom: 5%;">Timeline</h1>
    <div class="container">
        <ul class="timeline">
            <li>
                <div class="timeline-badge"><i class="	glyphicon glyphicon-education"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Sardar Vallabhbhai National Institute of Technology, Surat</h4>
                    </div>
                    <div class="timeline-body">
                        <p><small class="text-muted"><i class="	glyphicon glyphicon-time"
                                    style="margin-right: 5px;"></i>2019 - 2023</small></p>
                        <p>8.52.8 CGPA, 8.91 SGPA</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-badge warning"><i class="	glyphicon glyphicon-education"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Indian High School, Dubai</h4>
                    </div>
                    <div class="timeline-body">
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"
                                    style="margin-right: 5px;"></i>2019</small></p>
                        <p>12th Grade - 93% CGPA (AISSCE)</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="timeline-badge danger"><i class="	glyphicon glyphicon-education"></i></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4 class="timeline-title">Navrachna High School, Vadodara</h4>
                    </div>
                    <div class="timeline-body">
                        <p><small class="text-muted"><i class="glyphicon glyphicon-time"
                                    style="margin-right: 5px;"></i>2017</small></p>
                        <p>10th Grade - 9.8 CGPA (AISSE)</p>
                    </div>
                </div>
            </li>
    </div>
    </li>
    </ul>
</div>

</div>

<!-- CONTACT ME -->
<div class="container-fluid alt1" id="Contact" style="margin-top: 5%;">
    <h1 style="margin-bottom: 4%;text-align: center;">Contact Me!</h1>
    <div class="contact" style="margin: 0 auto;">
        {% if message %}
        <p class="message">{{ message | safe }}</p>
        {% endif %}
        <form action="/submit" method="POST">
            <div class="form-group">
                <h3>Name<span style="color: red;">*</span></h3>
                {% if name %}
                <input type="text" name="name" value={{ name }} /> {% else %}
                <input type="text" name="name" placeholder="Your name" /> {% endif %}
                <div class="form-group">
                    <h3>Phone number<span style="color: red;">*</span></h3>
                    {% if phone %}
                    <input type="tel" name="phone" value={{ phone }} /> {% else %}
                    <input type="tel" name="phone" placeholder="Your phone number" pattern="[1-9]{1}[0-9]{9}" /> {% endif %}
                </div>
                <div class="form-group">
                    <h3>Email<span style="color: red;">*</span></h3>
                    {% if email %}
                    <input type="email" name="email" value={{ email }} /> {% else %}
                    <input type="email" name="email" placeholder="Your Email-Id" /> {% endif %}
                </div>
                <div class="form-group">
                    <h3>Message</h3>
                    <textarea name="comments" id="" cols="30" rows="5" placeholder="Any message you would like to share."></textarea>
                </div>
                <input type="submit" value="Submit" class="btn" />
        </form>
        </div>
    </div>
</div>

<!-- LINKS TO SOCIALS -->
<div class="container-fluid" style="background-color: #000;display: flex;align-items: center;justify-content: center;">
    <a href="https://www.linkedin.com/in/esha-srivastav-8b13091a8/" target="_blank" style="margin-right: 6%;"><i
            class="fa fa-linkedin" id="social"></i></a>
    <a href="https://github.com/esha123802" target="_blank" style="margin-right: 6%;"><i class="fa fa-github"
            id="social"></i></a>
    <a href="mailto: esha1238@gmail.com"><i class="fa fa-envelope" id="social"></i></a>
</div>
</div>
</body>

</html>